:root {
    --white: #FFFFFF;
    --white-light: #FFFFFFCC;
    --blue: #011846;
    --blue-light: #10B2D0;
    --gray: #000000a6;
    --gray-light: #888888;
}

/* Wrapper */

.wrapper {
    max-width: 1165px;
    padding: 0 138px;
    margin: 0 auto;
}

/* HeadBar */
.head-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 29px 0;
}

.logo-box, .communication-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-box__logo {
    margin-right: 12px;
}

.logo-box:hover .logo-box__logo {
    -webkit-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -moz-transition: 1s all;
}

.communication-box {
    color: #888888;
}

.communication-box__phone-number {
    margin-right: 40px;
}

.communication-box__phone-number, .communication-box__mail, .custom-radio, .social__item, .logo-box {
    cursor: pointer;
}

.communication-box__phone-number:hover, .communication-box__mail:hover {
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    color: #000000;
}

.communication-box__icon {
    display: none;
}

.communication-box__icon:hover img
{
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -moz-transition: 1s all;
    -ms-transition: 1s all;
}

/* HeadConent */

.head-main {
    background: -o-linear-gradient(350deg, #5991FF, #0050EF);
    background: linear-gradient(100deg, #5991FF, #0050EF);
}

.head-main__box {
    margin: 100px 0 64px 140px;
    z-index: 1;
    width: 50%;
}

.head-main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    overflow: hidden;
}

.head-main__title {
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 24px;
}

.head-main__paragraph {
    color: var(--white);
    line-height: 24px;
    padding-bottom: 32px;
}

.head-main__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 114px;
}

.radio {
    display: none;
}

.custom-radio {
    width: 29px;
    height: 3px;
    background-color: #FFFFFF30;
    border-radius: 2px;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    margin-right: 6px;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
}

.radio:checked + .custom-radio {
    background-color: #FFFFFF;
}

.head-main__wallpaper {
    position: absolute;
    min-width: 1246px;
    max-width: 1246px;
    right: -236px;
}

.head-main__img {
    width: 100%;
}

/* Main */

.main {
    background-color: #F6F9FF;
    padding: 40px 0 80px 0;
}

.main__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.card__date {
    color: var(--blue-light);
    font-size: 12px;
    font-weight: 600;
}

.card__title {
    color: var(--gray);
}

.card__paragraph {
    color: var(--gray-light);
}

/* Footer */

.footer {
    background-color: var(--blue);
    padding: 48px 138px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    gap: 48px;
    padding-left: initial;
    list-style-type: none;
}

.footer__link {
    color: var(--white);
    text-decoration: none;
}

.footer__link:hover {
    color: var(--gray-light);
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.social {
    display: flex;
    gap: 16px;
}

.social__item {
    overflow: hidden;
}

.social__item:hover .social-img {
    transform: translate(120px, 50%);
    -webkit-transform: translate(120px, 50%);
    -moz-transform: translate(120px, 50%);
    -ms-transform: translate(120px, 50%);
    -o-transform: translate(120px, 50%);
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.copyright {
    font-size: 14px;
    color: var(--white-light);
}


/* Medium Display */
@media screen and (max-width: 1454px) {
    .card {
        width: 44%;
    }
}

@media screen and (max-width: 1440px) {
    .footer__list {
        flex-wrap: wrap;
        font-size: 14px;
        gap: 16px;
    }
}

@media screen and (max-width: 1260px) {
    .card {
        width: 43%;
    }
}

@media screen and (max-width: 1240px) {
    .card {
        width: 44%;
    }
    .footer {
        padding: 44px 24px;
    }
    .footer__box {
        gap: 20px;
    }
    .copyright {
        font-size: 12px;
    }
    .wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 1016px) {
    .main__box {
        gap: 16px;
    }
    .card {
        width: 43%;
    }
}

@media screen and (max-width: 842px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .communication-box__phone-number, .communication-box__mail {
        display: none;
    }
    .communication-box__icon {
        display: block;
        margin-left: 16px;
    }
    .card__title {
        font-size: 18px;
    }
    .card__paragraph {
        font-size: 14px;
    }
    .footer__container {
        gap: 32px;
    }
    .footer {
        padding: 24px 0;
    }
    .footer__box {
        flex-direction: column;
    }
    .footer__box:last-child {
        flex-direction: column-reverse;
    }
}